body{
  font-size: 38px;
}


.page-wrapper {
	margin: 0px auto 0px auto;
	position: relative;
	width: 750px;
}

.intro h1{
  font-family: 'Playfair Display', serif;
  font-size: 2.25rem;
  font-weight: bold;
}

.intro h2{
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
}

.summary p{
  font-family: 'Roboto Flex', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 1.625rem;
}

.preamble h3{
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
}

.preamble p{
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.625rem;
}

.benefits p{
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.625rem;
}

#zen-supporting h3{
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
}

#zen-supporting p{
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.625rem;
}

.participation h3{
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
}

.participation p{
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.625rem;
}

#zen-requirements h3{
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
}

#zen-requirements p{
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.625rem;
}

.design-selection h3, .design-archives h3, .zen-resources h3{
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 2rem;
}

.design-selection li, a{
  font-family: 'Roboto Flex', sans-serif;
  color: peru;
  text-decoration: none;
  list-style: none;
  font-size: 1.625rem;
}

.design-archives li, a{
  font-family: 'Roboto Flex', sans-serif;
  color: peru;
  text-decoration: none;
  list-style: none;
  font-size: 1.625rem;
}

.zen-resources li, a{
  font-family: 'Roboto Flex', sans-serif;
  color: peru;
  text-decoration: none;
  list-style: none;
  font-size: 1.625rem;
}

/* ////SIDE BAR RIGHT///// */
.sidebar {
	color: lavenderblush;
	position: absolute;	top: 95px; left: 916px;
	width: 205px;
}

/* ////FOOTER///// */

footer a {
  display: inline-block;
  padding: 1em;
  margin: 0.5em;
  border: 3px solid;
  align-items: center;
  text-decoration: none;
  background:peru;
  color: lavenderblush;
  border-radius: 50%;
}



.design-selection ul > li {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid;
	padding: 10px;
	font-size: 40px;
	margin: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.317);
}